<div class="header">
    <h1>Address Book / Contacts List</h1>
</div>

<div class="contacts">
  <div class="container">

    <% @contacts.each do |contact| %>
      <div class="contact">
        <h3><%= contact.name %></h3>
        <p><%= contact.email %></p>
        <p><%= contact.address %></p>
        <p><%= contact.phone %></p>
      </div>
    <% end %>

    <a href="contacts/new" class="btn btn-add">Add New Contact</a>

  </div>
</div>
