<div class="header">
    <h1>Contact Edited</h1>
</div>

<div class="contacts">
  <div class="container">

    <p><br></p>
    <p>Contact successfully edited!</p>
    <p><br></p>
    <p><br></p>
    <p>Would you like to <a href="/contacts">View all contacts</a>, or <a href="contacts/new">Create a new contact</a>?</p>

  </div>
</div>
